@import "mixins.scss";
@mixin widgets_brease_Paper_base {
	@include elemWidth(300);
	@include elemHeight(300);
	@include elemMinWidth(0);
	@include elemMaxWidth(0);
	@include elemMinHeight(0);
	@include elemMaxHeight(0);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	@include border-radius(0px);
	svg.breasePaperSVGContainer {
		@include border-radius(0px);
	}
	background-color: transparent;
	opacity: 1;
	margin: 0px;

}

