@import "mixins.scss";
#LoggedIn_PieChart1 {	@include elemTop(317);
}
#LoggedIn_PieChart1 {	@include elemLeft(93);
}
#LoggedIn_PieChart1 {	@include elemWidth(263);
}
#LoggedIn_PieChart1 {	@include elemHeight(263);
}
#LoggedIn_PieChart1 {	z-index: 0;
}
#LoggedIn_PieChartItem1 {	@include elemTop(82);
}
#LoggedIn_PieChartItem1 {	@include elemLeft(94);
}
#LoggedIn_PieChartItem1 {	z-index: 0;
}
#LoggedIn_PieChartItem1 {	path {
		fill: rgba(255, 0, 255, 1);
	}
}
#LoggedIn_PieChartItem2 {	@include elemTop(93);
}
#LoggedIn_PieChartItem2 {	@include elemLeft(114);
}
#LoggedIn_PieChartItem2 {	z-index: 1;
}
#LoggedIn_PieChartItem2 {	path {
		fill: rgba(0, 255, 255, 1);
	}
}
#LoggedIn_PieChartItem3 {	@include elemTop(112);
}
#LoggedIn_PieChartItem3 {	@include elemLeft(70);
}
#LoggedIn_PieChartItem3 {	z-index: 2;
}
#LoggedIn_PieChartItem4 {	@include elemTop(79);
}
#LoggedIn_PieChartItem4 {	@include elemLeft(82);
}
#LoggedIn_PieChartItem4 {	z-index: 3;
}
#LoggedIn_PieChartItem4 {	path {
		fill: rgba(0, 255, 0, 1);
	}
}
#LoggedIn_NumericOutput3 {	@include elemTop(206);
}
#LoggedIn_NumericOutput3 {	@include elemLeft(558);
}
#LoggedIn_NumericOutput3 {	@include elemAutoWidth(159);
}
#LoggedIn_NumericOutput3 {	@include elemAutoHeight(60);
}
#LoggedIn_NumericOutput3 {	z-index: 1;
}
#LoggedIn_NumericOutput3 {	@include border-radius(5px);
}
#LoggedIn_NumericOutput3 {	background-color: rgba(157, 178, 191, 1);
}
#LoggedIn_NumericOutput3 {	input {
		@include text-alignment(center);
	}
}
#LoggedIn_NumericOutput3 {	.breaseNumericOutput_unit {
		font-size: 25px;
	}
}
#LoggedIn_Label {	@include elemAutoHeight(30);
}
#LoggedIn_Label {	@include elemTop(223);
}
#LoggedIn_Label {	@include elemLeft(272);
}
#LoggedIn_Label {	@include elemAutoWidth(260);
}
#LoggedIn_Label {	z-index: 2;
}
#LoggedIn_Label {	span {
		font-family: Arial Unicode;
	}
}
#LoggedIn_Label {	font-size: 18px;
}
#LoggedIn_Blue {	@include elemTop(395);
}
#LoggedIn_Blue {	@include elemLeft(412);
}
#LoggedIn_Blue {	@include elemAutoWidth(130);
}
#LoggedIn_Blue {	@include elemAutoHeight(39);
}
#LoggedIn_Blue {	z-index: 3;
}
#LoggedIn_Blue {	border-width: 2px;
}
#LoggedIn_Blue {	@include border-radius(5px);
}
#LoggedIn_Blue {	border-style: solid;
}
#LoggedIn_Blue {	&:before {
		border-style: solid;
	}
}
#LoggedIn_Blue {	&:after {
		border-style: solid;
	}
}
#LoggedIn_Blue {	& span {
		color: rgba(0, 255, 255, 1);
	}
}
#LoggedIn_Blue {	span {
		font-family: Arial Unicode;
	}
}
#LoggedIn_Blue {	font-size: 20px;
}
#LoggedIn_Blue {	@include font-weight-bold(false);
}
#LoggedIn_Pink {	@include elemTop(334);
}
#LoggedIn_Pink {	@include elemLeft(412);
}
#LoggedIn_Pink {	@include elemAutoWidth(130);
}
#LoggedIn_Pink {	@include elemAutoHeight(39);
}
#LoggedIn_Pink {	z-index: 4;
}
#LoggedIn_Pink {	border-width: 2px;
}
#LoggedIn_Pink {	@include border-radius(5px);
}
#LoggedIn_Pink {	border-style: solid;
}
#LoggedIn_Pink {	&:before {
		border-style: solid;
	}
}
#LoggedIn_Pink {	&:after {
		border-style: solid;
	}
}
#LoggedIn_Pink {	& span {
		color: rgba(255, 0, 255, 1);
	}
}
#LoggedIn_Pink {	span {
		font-family: Arial Unicode;
	}
}
#LoggedIn_Pink {	font-size: 20px;
}
#LoggedIn_Pink {	@include font-weight-bold(false);
}
#LoggedIn_Orange {	@include elemTop(456);
}
#LoggedIn_Orange {	@include elemLeft(412);
}
#LoggedIn_Orange {	@include elemAutoWidth(130);
}
#LoggedIn_Orange {	@include elemAutoHeight(39);
}
#LoggedIn_Orange {	z-index: 5;
}
#LoggedIn_Orange {	border-width: 2px;
}
#LoggedIn_Orange {	@include border-radius(5px);
}
#LoggedIn_Orange {	border-style: solid;
}
#LoggedIn_Orange {	&:before {
		border-style: solid;
	}
}
#LoggedIn_Orange {	&:after {
		border-style: solid;
	}
}
#LoggedIn_Orange {	& span {
		color: rgba(255, 136, 0, 1);
	}
}
#LoggedIn_Orange {	span {
		font-family: Arial Unicode;
	}
}
#LoggedIn_Orange {	font-size: 20px;
}
#LoggedIn_Orange {	@include font-weight-bold(false);
}
#LoggedIn_Green {	@include elemTop(517);
}
#LoggedIn_Green {	@include elemLeft(412);
}
#LoggedIn_Green {	@include elemAutoWidth(130);
}
#LoggedIn_Green {	@include elemAutoHeight(39);
}
#LoggedIn_Green {	z-index: 6;
}
#LoggedIn_Green {	border-width: 2px;
}
#LoggedIn_Green {	@include border-radius(5px);
}
#LoggedIn_Green {	border-style: solid;
}
#LoggedIn_Green {	&:before {
		border-style: solid;
	}
}
#LoggedIn_Green {	&:after {
		border-style: solid;
	}
}
#LoggedIn_Green {	& span {
		color: rgba(0, 255, 0, 1);
	}
}
#LoggedIn_Green {	span {
		font-family: Arial Unicode;
	}
}
#LoggedIn_Green {	font-size: 20px;
}
#LoggedIn_Green {	@include font-weight-bold(false);
}
#LoggedIn_Label1 {	@include elemAutoHeight(30);
}
#LoggedIn_Label1 {	@include elemTop(282);
}
#LoggedIn_Label1 {	@include elemLeft(177);
}
#LoggedIn_Label1 {	@include elemAutoWidth(105);
}
#LoggedIn_Label1 {	z-index: 7;
}
#LoggedIn_Label1 {	span {
		font-family: Arial Unicode;
	}
}
#LoggedIn_Label1 {	font-size: 20px;
}
#LoggedIn_Label1 {	@include font-weight-bold(true);
}
#LoggedIn_Button1 {	@include elemTop(517);
}
#LoggedIn_Button1 {	@include elemLeft(600);
}
#LoggedIn_Button1 {	@include elemAutoWidth(130);
}
#LoggedIn_Button1 {	@include elemAutoHeight(39);
}
#LoggedIn_Button1 {	z-index: 8;
}
#LoggedIn_Button1 {	img {
		@include imageHeight(30);
	}
}
#LoggedIn_Button1 {	svg {
		@include imageHeight(30);
	}
}
#LoggedIn_Button1 {	@include border-radius(5px);
}
#LoggedIn_Button1 {	&:not(.disabled):not(.active):not(.checked) {
		border-color: rgba(0, 0, 0, 1);
	}
}
#LoggedIn_Button1 {	span {
		font-size: 15px;
	}
}
#LoggedIn_Button1 {	span {
		@include font-weight-bold(true);
	}
}
